<dialog data-dialog-target="dialog" class="bg-gradient-to-br from-1344darkblue to-1344darkpurple w-11/12 md:w-1/2 rounded-lg px-6 py-4">
  <h3 class="text-slate-300 text-2xl mb-4 text-center">
    Nous Contacter
  </h3>

  <%= form_with url: contact_form_path, local: true, scope: :contact, html: { class: "flex flex-col" } do |form| %>

    <div class="flex space-x-4">
        <%= form.text_field :first_name, id: "first_name", placeholder: "Prénom", class: "bg-gray-700 text-gray-200 border-0 rounded-md p-2 w-1/2 focus:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-1344purple transition ease-in-out duration-150" %>
        <%= form.text_field :last_name, id: "last_name", placeholder: "Nom", class: "bg-gray-700 text-gray-200 border-0 rounded-md p-2 w-1/2 focus:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-1344purple transition ease-in-out duration-150" %>
    </div>

    <div class="mt-4">
      <%= form.text_field :company,
            id: "company",
            placeholder: "Nom de l'entreprise",
            class: "bg-gray-700 text-gray-200 border-0 rounded-md p-2 w-full focus:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-1344purple transition ease-in-out duration-150" %>
    </div>

    <div class="mt-4">
      <%= form.email_field :email,
            id: "email",
            placeholder: "Email",
            class: "bg-gray-700 text-gray-200 border-0 rounded-md p-2 w-full focus:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-1344purple transition ease-in-out duration-150" %>
    </div>

    <div class="mt-4">
      <%= form.telephone_field :phone,
            id: "phone",
            placeholder: "Téléphone",
            class: "bg-gray-700 text-gray-200 border-0 rounded-md p-2 w-full focus:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-1344purple transition ease-in-out duration-150" %>
    </div>

    <div class="mt-4">
      <%= form.text_area :message,
            id: "message",
            placeholder: "Message",
            class: "bg-gray-700 text-gray-200 border-0 rounded-md p-2 w-full focus:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-1344purple transition ease-in-out duration-150" %>
    </div>


    <div class="mt-4 flex justify-center gap-4">

      <div class="flex-1 text-right">
        <button type="button" data-action="dialog#close" class="px-4 py-3 rounded border bg-transparent border-gray-700 text-gray-700 transition hover:duration-150 hover:bg-gray-700 hover:text-white w-2/3 md:w-1/2">
          Annuler
        </button>
      </div>

      <div class="flex-1">
        <%= form.submit "Envoyer",
          data: { action: "dialog#close" },
          class: "px-4 py-3 text-white rounded bg-gradient-to-r from-1344blue to-1344purple transform hover:-translate-y-0.5 transition duration-150 cursor-pointer inline-block w-2/3 md:w-1/2" %>
      </div>

    </div>

  <% end %>


</dialog>

<button class="px-4 py-3 text-white rounded bg-gradient-to-r from-1344blue to-1344purple transform hover:-translate-y-0.5 transition duration-150" data-action="dialog#open">
  Nous Contacter
</button>
